---
import ProfilePhoto from "./ProfilePhoto.astro";
import StyledGradient from "./StyledGradient";
export interface Props {
  speaker: {
    details: {
      blurb?: string;
      currentEmployer: string;
      name: string;
      pronouns: string;
      profileImage: ImageMetadata;
      currentTitle: string;
      url?: string;
    };
  };
}

const { speaker } = Astro.props;
const { url } = speaker;
const {
  blurb = "",
  profileImage,
  name,
  pronouns,
  currentTitle,
} = speaker.details;
---

<li class="profile-section">
  <div class="profile-section__photo">
    <a aria-label={`link to ${name}'s detail page'`} href={url}>
      <ProfilePhoto src={profileImage} name={name} />
    </a>
  </div>

  <div class="profile-section__details">
    <div class="details__name">
      <h2>{name}</h2>
      <p>{pronouns}</p>
      <p><StyledGradient text={currentTitle} /></p>
    </div>
  </div>

  <div class="blurb">
    <p>{blurb}</p>
  </div>
</li>

<style lang="scss">
  .profile-section {
    align-items: center;
    background-color: var(--color-background);
    display: flex;
    padding: 1rem;
    flex-grow: 1 0 100%;

    @media (min-width: 480px) {
      flex-direction: column;
      flex-grow: 1;
      margin: 0;
    }

    @media screen and (min-width: 768px) {
      width: auto;
    }

    &__photo {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      @media screen and (min-width: 480px) {
        flex-direction: column;
        margin-bottom: 1rem;
      }

      @media screen and (min-width: 768px) {
        justify-content: center;
      }
    }

    &__details {
      margin-left: 1rem;
      flex-grow: 1;

      @media (min-width: 480px) {
        margin: 0;
      }
    }
  }

  .profile-section a {
    text-decoration: none;
  }

  .profile-section .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .profile-section .details__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    & > h2 {
      margin: 0;
    }

    @media (min-width: 768px) {
      align-items: center;
    }
  }

  // .blurb {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: space-between;
  //   padding: 1rem;
  //   // width: 100%;
  // }
</style>
