---
import BaseLayout from "@layouts/BaseLayout.astro";
import ProfilePhoto from "./ProfilePhoto.astro";
import StyledGradient from "./StyledGradient";
export interface Props {
  speaker: {
    details: {
      blurb?: string;
      currentEmployer: string;
      name: string;
      pronouns: string;
      profileImage: ImageMetadata;
      currentTitle: string;
      url?: string;
    };
  };
}

// const { name, currentTitle, url, pronouns, currentEmployer, profileImage } =
//   Astro.props;

const { speaker } = Astro.props;
console.log(speaker);
const { url, events } = speaker;
const {
  blurb = "",
  profileImage,
  name,
  pronouns,
  currentTitle,
  currentEmployer,
} = speaker.details;
---

<!-- <h1>{speaker.details.name}</h1> -->
<li class="profile-section">
  <div class="profile-section__photo">
    <a aria-label={`link to ${name}'s detail page'`} href={url}>
      <ProfilePhoto src={profileImage} name={name} />
    </a>
  </div>

  <div class="profile-section__details">
    <div class="details__name">
      <h2>{name}</h2>
      <p>{pronouns}</p>
      <p><StyledGradient text={currentTitle} /></p>
    </div>
  </div>

  <div class="blurb">
    <p>{blurb}</p>
  </div>
</li>
<!-- <BaseLayout title={`${speaker.details.name}'s' Bio`} /> -->

<!-- Create styles so each profile section looks like a card, elegant, and has consistent spacing and padding with the other elements on the page
- Use css
- use the classes described above


-->

<style lang="scss">
  .profile-section {
    align-items: center;
    margin: auto;
    background-color: var(--color-background);
    // border-radius: 1rem;
    // box-shadow: 0 0 0.5rem 0.25rem var(--color-shadow);
    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // max-width: 100%;
    width: 100%;
    // min-width: 100%;
    padding: 1rem;
    flex-grow: 1 0 100%;

    @media (min-width: 480px) {
      width: 30vw;
      margin: 0;
      flex-direction: column;
    }

    @media screen and (min-width: 768px) {
      width: auto;
    }

    &__photo {
      // height: 100%;
      display: flex;
      // flex-grow: 1;
      flex-direction: row;
      justify-content: flex-start;

      @media screen and (min-width: 480px) {
        flex-direction: column;
        margin-bottom: 1rem;
      }

      @media screen and (min-width: 768px) {
        justify-content: center;
      }
    }

    &__details {
      margin-left: 1rem;
      flex-grow: 1;
      // align-items: flex-start;

      @media (min-width: 480px) {
        margin: 0;
      }
    }
  }

  .profile-section a {
    text-decoration: none;
  }

  .profile-section .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .profile-section .details__name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    & > h2 {
      margin: 0;
    }

    @media (min-width: 768px) {
      align-items: center;
    }
  }

  // .blurb {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: flex-start;
  //   justify-content: space-between;
  //   padding: 1rem;
  //   // width: 100%;
  // }
</style>
