---
import type { AstroBuiltinProps } from "astro";
import Layout from "./Layout.astro";
import JobHistory from "@components/JobHistory";
import Profile from "@components/Profile.astro";
import StyledGradient from "@components/StyledGradient";

interface Props extends AstroBuiltinProps {
  name: string;
  currentTitle: string;
  currentEmployer: string;
  jobHistory: { title: string; company: string }[];
  profileImage: ImageMetadata;
}

const {
  name,
  jobHistory = [],
  profileImage,
  currentTitle,
  currentEmployer,
} = Astro.props;
---

<Layout title={name}>
  <h1><StyledGradient text={name} /></h1>
  <div class="profile-detail">
    <Profile fullPage src={profileImage} name={name} />
  </div>
  <JobHistory
    currentEmployer={currentEmployer}
    currentTitle={currentTitle}
    jobHistory={jobHistory}
  />
</Layout>

<style>
  .profile-detail {
    display: flex;
    margin: 0;
    margin-right: auto;
  }
</style>
