---
import EducationHistory, { type Education } from "@components/EducationHistory";
import IconLink from "@components/IconLink";
import JobHistory from "@components/JobHistory";
import Profile from "@components/Profile.astro";
import StyledGradient from "@components/StyledGradient";
import type { AstroBuiltinProps } from "astro";
import BaseLayout from "./BaseLayout.astro";

interface Props extends AstroBuiltinProps {
  currentEmployer: string;
  currentTitle: string;
  educationHistory: Education[];
  jobHistory: { title: string; company: string }[];
  linkedinHref?: string;
  name: string;
  profileImage: ImageMetadata;
}

const {
  currentEmployer,
  currentTitle,
  educationHistory = [],
  jobHistory = [],
  linkedinHref = "",
  name,
  profileImage,
} = Astro.props;
---

<BaseLayout title={name}>
  <h1><StyledGradient text={name} /></h1>
  <div class="profile-detail">
    <Profile fullPage src={profileImage} name={name} />
  </div>
  <JobHistory
    currentEmployer={currentEmployer}
    currentTitle={currentTitle}
    jobHistory={jobHistory}
  />
  <EducationHistory educationHistory={educationHistory} />
  {
    linkedinHref && (
      <>
        <h2>Connect</h2>
        <IconLink href={linkedinHref} />
      </>
    )
  }
</BaseLayout>

<style>
  .profile-detail {
    display: flex;
    margin: 0;
    margin-right: auto;
  }
</style>
