---
import EducationHistory, { type Education } from "@components/EducationHistory";
import IconLink from "@components/IconLink";
import JobHistory from "@components/JobHistory";
import ProfilePhoto from "@components/ProfilePhoto.astro";
import StyledGradient from "@components/StyledGradient";
import type { AstroBuiltinProps } from "astro";
import BaseLayout from "./BaseLayout.astro";

interface Props extends AstroBuiltinProps {
  currentEmployer: string;
  currentTitle: string;
  educationHistory: Education[];
  eventNickname?: string;
  eventRoute?: string;
  jobHistory: { title: string; company: string }[];
  linkedinHref?: string;
  name: string;
  profileImage: ImageMetadata;
}

const {
  currentEmployer,
  currentTitle,
  educationHistory = [],
  eventNickname,
  eventRoute,
  jobHistory = [],
  linkedinHref = "",
  name,
  profileImage,
} = Astro.props;
---

<BaseLayout title={name} footerLabel={eventNickname} footerRoute={eventRoute}>
  <h1>
    <StyledGradient text={name} />
  </h1>
  <div class="profile-detail">
    <ProfilePhoto fullPage src={profileImage} name={name} />
  </div>
  <JobHistory
    currentEmployer={currentEmployer}
    currentTitle={currentTitle}
    jobHistory={jobHistory}
  />
  <EducationHistory educationHistory={educationHistory} />
  {
    linkedinHref && (
      <>
        <h2>Connect</h2>
        <IconLink href={linkedinHref} />
      </>
    )
  }
</BaseLayout>

<style lang="scss">
  body {
    background: linear-gradient(
      330deg,
      var(--gradient-bg-color) 10%,
      white 50%
    );

    @media screen and (min-width: 768px) {
      // padding-top: 5%;
    }
  }

  .profile-detail {
    display: flex;
    margin: 0;
    margin-right: auto;
  }
</style>
